/*body{
  overflow-x: hidden;
  overflow-y: hidden;
}*/
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#navbar{
  z-index: 5000;
}
#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#regions_div {
  width: 100%;
  height: 100%;
}
#travel_info{
  border-top: solid;
  border-left: solid;
  border-bottom: solid;
  position: absolute;
  right: 0%;
  top: 15%;
  height: 80%;
  width: 0px;
  background-color: lightgrey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y:scroll;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
#passportdata{
  position: relative;
  top: 0px;
  left: 58.4%;
  z-index: 4000;
}
#country_info{
  border: solid;
  font-size: 2em;
  position: absolute;
  left: 10px;
  top: 15%;
  z-index: 99;
  word-wrap: normal;
  width: auto;
  max-width: 300px;
  min-width: 60px;
  height: 20%auto;
  background-color: lightgray;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
#passport_info{
  border-top: solid;
  border-left: solid;
  border-right: solid;
  overflow-y:scroll;
  position: absolute;
  width: 640px;
  height:0px;
  left: 25%;
  bottom: 5%;
  background-color: lightgrey;
  border-top-left-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  z-index: 30;
}
#country-name{
  width: auto;
}
#close{
  text-align: right;
}
#loading{
  position: absolute;
  top: 35%;
  left: 40%;
  display: none;
}
#github{
  width: 40px;
  height: 40px;
  float: right;
}
